 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'PT Sans Narrow', sans-serif;
  }
  body {
    background: #f1faee;
    background-color: #74d6c9;
    background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
    padding: 0 13px;
  }
  .container {
    display: grid; /* Sets up to use the CSS Grid layout */
    grid-template-areas: /* Grid areas arrangement */
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto; /* The height of grid rows. 
    The second line is extended, while the first and third are automatically set heights.
    */
    min-height: 100vh; /* Makes sure the container is at least as tall as the whole screen that is displayed.  */
}
  
  header {
    background-color: #e63946;
    margin: auto -16px;
    padding: 15px 20px;
    grid-area: header;
  
    
  }
  
  header h1 {
    color: #f1faee;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    line-height: 70px; 
  }
  
  footer {
    position: fixed; 
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2rem;
    z-index: 999; 
    grid-area: footer;
  }
  
  footer p {
    color: #000000;
  }
  .goal {
    background: #f1faee;
    border-radius: 9px;
    padding: 7px;
    width: 220px;
    margin: 20px;
    float: left;
  }
  .goal h1 {
    margin-bottom: 4px;
    font-size: 1.1em;
  }
  .goal p {
    font-size: 1.1em;
    margin-bottom: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .goal button {
    position: relative;
    float: right;
    margin-right: 12px;
    color: #e63946;
    background-color: #f1faee;
    border: none;
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
  }
  
  form {
    position: relative;
    width: 430px;
    margin: 25px auto 25px auto;
    background: #f1faee;
    padding: 10px;
    border-radius: 9px;
  }
  form input,
  form textarea {
    font-family: inherit;
    width: 100%;
    border: none;
    padding: 6px;
    outline: none;
    font-size: 1.1em;
    resize: none;
  }
  form button {
    position: absolute;
    right: 45%;
    bottom: -10%;
    background: #e63946;
    color: #f1faee;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20%;
    width: 50px;
    height: 30px;
  }
/* For mobile phones */
@media (max-width: 576px) {
  body {
      font-size: 14px; 
  }

  .note {
      width: 90%; 
      margin: 5%; 
      padding: 12px; 
      
  }

  .goal h1 {
      font-size: 1em; 
  }

  .goal p {
      font-size: 1em; 
  }

  .goal button {
      width: 30px; 
      height: 30px;
  }
}
/* For tablets */
@media (min-width: 768px) and (max-width: 992px) {
  body {
      font-size: 16px; 
  }

  .goal {
      width: 50%; 
      margin: 16px; 
      padding: 15px; 
  }

  .goal h1 {
      font-size: 1.2em; 
  }

  .goal p {
      font-size: 1.2em; 
  }

  .goal button {
      width: 48px; 
      height: 48px;
  }

}
/* For laptops */
@media (min-width: 992px) {
  body {
      font-size: 18px; 
  }

  .goal {
      width: 45%;
      margin: 12px; 
      padding: 20px; 
  }

  .goal h1 {
      font-size: 1.3em;
  }

  .goal p {
      font-size: 1.3em; 
  }

  .goal button {
      width: 60px; 
      height: 60px;
  }

}
/* For large screens */
@media (min-width: 1200px) {
  body {
      font-size: 20px; 
  }

  .goal {
      width: 40%; 
      margin: 10px; 
      padding: 25px; 
  }

  .goal h1 {
      font-size: 1.4em; 
  }

  .goal p {
      font-size: 1.4em; 
  }

  .goal button {
      width: 70px;
      height: 70px;
  }
}
